@page "/filmek"
@inject IFilmService FilmService
@inject NavigationManager NavigationManager
@inject ITeremService TeremService
@inject ISzekService SzekService
@inject ISzineszService SzineszService
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Buttons;
@using System.ComponentModel.DataAnnotations;
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data

<div class="padding">
<PageTitle>Filmek</PageTitle>

<h3>Filmek</h3>


<SfGrid @ref="Grid" DataSource="@tablazatFilmek" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <GridPageSettings PageSize="5"></GridPageSettings>

    <GridColumns>
        <GridColumn Field=@nameof(Film.Nev) HeaderText="Film neve"  Width="120"></GridColumn>
        <GridColumn Field=@nameof(Film.Gyarto) HeaderText="Film gyartó"  Width="120"></GridColumn>                   
        <GridColumn Field=@nameof(Film.Ertekeles) HeaderText="Értékelés" Width="120"></GridColumn>
        <GridColumn HeaderText="Info" TextAlign="TextAlign.Center" Width="120">
            <Template>
                @{
                    var film = (context as Film);   
                    <button class="btn btn-primary" @onclick="(()=>ShowFilm(film.Id))">Info</button>
                }
            </Template>
        </GridColumn>
    </GridColumns>
    
</SfGrid>


 <EditForm Model="@seged" OnValidSubmit="FormValidSubmit">
     <DataAnnotationsValidator />
     <ValidationSummary />
     <div class="form-group">
         <label for="nev">Film neve:</label>
         <SfTextBox ID="nev" @bind-Value="seged.Nev"></SfTextBox>
     </div>
     <div class="form-group">
         <label for="ertekeles">Film értékelése:</label>
         <SfNumericTextBox ID="ertekeles" @bind-Value="seged.Ertekeles"></SfNumericTextBox>
     </div>
     <div class="form-group">
         <label for="gyarto">Film gyártója:</label>
         <SfTextBox ID="gyarto" @bind-Value="seged.Gyarto"></SfTextBox>
     </div>
     <SfButton>Submit</SfButton>
 </EditForm>


</div
<!--

<table class="table table-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Értékelés</th>
            <th>Gyártó</th>
            <th>Terem</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in FilmService.Filmek)
       {
           <tr>
               <td>@film.Nev</td>
               <td>@film.Ertekeles</td>
               <td>@film.Gyarto</td>
               <td> <button class="btn btn-primary" @onclick="(()=>ShowFilm(film.Id))">Info</button></td>
               <td>
               </td>
           </tr>     
       }
    </tbody>
</table>

<h3>Szekek</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>TeremID</th>
            <th>Szám</th>
            <th>Foglalt?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var szek in SzekService.Szekek)
       {
           <tr>
               <td>@szek.TeremId</td>
               <td>@szek.Szam</td>
               <td>@szek.Foglalt</td>

               <td><button class="btn btn-primary" @onclick="(()=>ShowSzek(szek.Id))">Info</button> </td>
               <td>
                 
               </td>
           </tr>     
       }
    </tbody>
</table>

<h3>Szinesz</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nev</th>
            <th>Ertekeles</th>
            <th>Kor?</th>
            <th>FilmID</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var szinesz in SzineszService.Szineszek)
       {
           <tr>
               <td>@szinesz.Nev</td>
               <td>@szinesz.Ertekeles</td>
               <td>@szinesz.Kor</td>
               <td>@szinesz.FilmId</td>


               <td><button class="btn btn-primary" @onclick="(()=>ShowSzinesz(szinesz.Id))">Info</button> </td>
               <td>
                 
               </td>
           </tr>     
       }
    </tbody>
</table>

<h3>Termek</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Terem nev</th>
            <th>Terem id</th>
            <th>Film id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var terem in TeremService.Termek)
       {
           <tr>
               <td>@terem.TeremNev</td>
               <td>@terem.Id</td>
               <td>@terem.FilmId</td>
               <td> <button class="btn btn-primary" @onclick="(()=>ShowTerem(terem.Id))">Info</button></td>
               <td>                
               </td>
           </tr>     
       }
    </tbody>
</table>

-->

@code {
    protected override async Task OnInitializedAsync()
    {
        await FilmService.GetFilmek();
        //await FilmService.GetFilmTermek(2);
        await SzineszService.GetSzineszek();
        await SzekService.GetSzekek();
        await TeremService.GetTermek();
        tablazatFilmek = FilmService.Filmek;
        //tablazatTermek = FilmService.Termek;
    }

    void ShowFilm(int id)
    {
        NavigationManager.NavigateTo($"film/{id}");    
    }
    void ShowSzinesz(int id)
    {
        NavigationManager.NavigateTo($"szinesz/{id}");    
    }
    void ShowSzek(int id)
    {
        NavigationManager.NavigateTo($"szek/{id}");    
    }
    void ShowTerem(int id)
    {
        NavigationManager.NavigateTo($"terem/{id}");    
    }

    //elso tablazatnak az adatai
    public List<Film> tablazatFilmek { get; set; }
    public List<Terem> tablazatTermek { get; set; }

    SfGrid<Film> Grid{ get; set; }

    //Validáció

    private segedFilm seged = new segedFilm();

    public class segedFilm
    {
        [Required(ErrorMessage = "Kérlek add meg a film nevét.")]
        public string Nev { get; set; }

        [Required(ErrorMessage = "Kérlek add meg a film értékelését. (0-10-ig)")]
        [Range(0, 10.0)]
        public double Ertekeles { get; set; }

        [Required(ErrorMessage = "Kérlek add meg a film gyártóját")]
        public string Gyarto { get; set; }

    }

    private async void FormValidSubmit(EditContext context)
    {
        Film segedfilm = new Film();
        segedfilm.Nev = seged.Nev;
        segedfilm.Ertekeles = seged.Ertekeles;
        segedfilm.Gyarto = seged.Gyarto;

        FilmService.CreateFilm(segedfilm);

        await FilmService.GetFilmek();
        tablazatFilmek = FilmService.Filmek;
        refresh();
    } 

    private void refresh()
    {
        Grid.Refresh();
    }




}

<style>
.padding {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

</style>