@page "/szek"
@page "/szek/{id:int}"
@inject ISzekService SzekService
@inject NavigationManager NavigationManager

@if (Id == null)
{
    <h3>Uj Szek</h3>
}
else
{
    <h3>A(z) @szek.Szam adatai</h3>
}

<table class="table">
    <thead>
        <tr>
            <th>Szam</th>
            <th>id</th>
            <th>terem</th>
            <th>foglalt?</th>
        </tr>
    </thead>
    <tbody>
              
           <tr>
               <td>@szek.Szam</td>
               <td>@szek.Id</td>
               <td>@szek.TeremId</td>
               <td>@szek.Foglalt</td>



           </tr>
           
    </tbody>
</table>




<button class="btn btn-primary" @onclick="(()=>ShowFilmek())">Vissza</button>


@code {
    [Parameter]
    public int? Id{ get; set; }

    Mozi.Shared.Szek szek=new Mozi.Shared.Szek();
    

    protected override async Task OnParametersSetAsync()
    {
        if(Id!= null)
        {
            szek = await SzekService.GetSingleSzek((int)Id);

        }
    }
    void ShowFilmek()
    {
        NavigationManager.NavigateTo("filmek");    
    }


}
